run = "npm run dev"
entrypoint = "index.js"
hidden = [".config", "package-lock.json", ".next", ".swc"]
modules = ["nodejs-22"]

[nix]
channel = "stable-24_11"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Run Next.js"

[[workflows.workflow]]
name = "Run Next.js"
author = 41676049
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd smartcamps && npm run dev"

[[workflows.workflow]]
name = "Start Production"
author = 41676049
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd smartcamps && npm run build && npm start"
